@keyframes fadeInLeft{
	0%{
		transform: translateX(-30px);
		opacity: 0;
	}
	100%{
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes fadeInRight{
	0%{
		transform: translateX(30px);
		opacity: 0;
	}
	100%{
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes fadeUp {
	0%{
		opacity: 0;
		transform: translateY(40px);
	}

	100%{
		opacity: 1;
		transform: translateY(0px);
	}
}